  body {
  background-color: coral;
  text-align: center;
}

  h1  {
    font-style: oblique;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    font-family: inherit;
    font-weight: 400;
    text-align: center;
  }

  p {
    font-style: normal;
    font-weight: normal;
  }

 /*.columns {
    float: left;
    width: 500px;
    font-weight: lighter;
    font-size: 15pt;
    color: blue;
    padding: 20px;
    text-align: center;
 }*/


 .columns {
   float:left;
   text-align: center;
   margin: 5px;
 }

 .fred {
   margin: 12px;
   border: 2px solid green;
   padding: 4px;
   background-color: orange;

 }

 .jamie {
   margin: 12px;
   border: 2px solid green;
   padding: 4px;
   background-color: orange;
 }

 .pat {
   margin: 12px;
   border: 2px solid green;
   padding: 4px;
   background-color: orange;

 }

 .columns p{
   font-weight: bold;
 }



 .clear {
   clear: both;
 }

 img {
   border-radius: 60%;
   height: 200px;
   width: 250px;
   /*float:left;
   display: block;*/
}

.list {
  color: yellow;
}

a {
  font-style: italic;

}
ul {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
